.container{
  height: 100vh;
  margin-top: 100px;
  padding: 50px;
  display: flex;
}

.left{
  flex: 2;
}

.right{
  flex: 1;
}

.imgContainer{
  width: 100px;
  height: 100px;
}

.table{
  width: 100%;
  border-spacing: 20px;
}

.name{
  font-weight: bold;
  color: #d1411e;
  font-size: 18px;
}

.box{
  text-align: center;
}

.box1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.total{
  font-weight: bold;
  font-size: 18px;
}

.wrapper{
  width: 90%;
  max-width: 300px;
  background-color: #333;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.totalTextTitle{
  margin-right: 10px;
}

.button{
  height: 30px;
  color: #d1411e;
  font-weight: bold;
  cursor: pointer;
}