.container{
  height: 100vh;
  margin-top: 100px;
  padding: 50px;
  display: flex;
}

.left{
  flex: 2;
}

.right{
  flex: 1;
}

.imgContainer{
  width: 100px;
  height: 100px;
}

.table{
  width: 100%;
  border-spacing: 10px;
}

.name{
  font-weight: bold;
  color: #d1411e;
  font-size: 18px;
}

.box{
  text-align: center;
}

.box1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.total{
  font-weight: bold;
  font-size: 18px;
}

.wrapper{
  width: 90%;
  background-color: #333;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.totalTextTitle{
  margin-right: 10px;
}

.button{
  height: 30px;
  color: #d1411e;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width:480px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .trTitle{
    display: none;
  }

  .tr{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .right{
    width: 100%;
    text-align: center;
  }
  
  .wrapper{
    border-radius: 20px;
    width: 100%;
  }

  .button{
    border-radius: 10px;
  }

  .price{
    font-size: 10px;
  }

  .image{
    width: 100%;
    height: 100%;
  }

  .imgContainer{
    width: 50vw;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .name, .total{
    font-size: 24px;
  }
}